# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# FastAPI / Pydantic cache
*.db
*.sqlite3
*.log

# Models and assets
models/
*.pth
*.pt
*.bin
*.onnx

# Uploaded/test images
tests/*.jpg
tests/*.png
*.jpg
*.jpeg
*.png

# Assets that should not go to repo
app/assets/labels_food101.json

# VS Code / PyCharm
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
